.u-section-1 .u-sheet-1 {
  min-height: 1139px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 323px;
  margin: 142px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 105px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 726px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 21px 30px 30px;
}

.u-section-1 .u-image-1 {
  height: 253px;
  width: 329px;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 87px 16px 0 7px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 33px 16px 0 7px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 726px;
}

.u-section-1 .u-container-layout-2 {
  padding: 16px 23px 30px 30px;
}

.u-section-1 .u-image-2 {
  height: 237px;
  width: 320px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 87px 7px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 33px 7px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 757px;
}

.u-section-1 .u-container-layout-3 {
  padding: 12px 30px 30px;
}

.u-section-1 .u-image-3 {
  height: 241px;
  width: 320px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 87px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: 33px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-1 .u-image-1 {
    height: 202px;
    width: 262px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 599px;
  }

  .u-section-1 .u-image-2 {
    height: 193px;
    width: 260px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 624px;
  }

  .u-section-1 .u-image-3 {
    height: 191px;
    width: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 146px;
    width: 189px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 139px;
    width: 187px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 136px;
    width: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}